---
---
* {
    -webkit-tap-highlight-color: transparent;
}

.docs{
    color: rgb(107, 114, 128);
    line-height: 1.7;
    letter-spacing: -0.004em;
    word-break: keep-all;
}

.docs h1{
    font-size: 32px;
    font-weight: 600;
    margin-top: 100px;
    padding-top: 30px;
    border-top: solid 1px #3c3c3c1f;
    margin-bottom: 20px;
    color: rgb(51, 65, 85);
}

.docs h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: 100px;
    padding-top: 30px;
    border-top: solid 1px #3c3c3c1f;
    margin-bottom: 20px;
    color: rgb(51, 65, 85);
}

.docs h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 15px;
    color: rgb(51, 65, 85);
}

.docs h4{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.docs h5{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.docs h6{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.docs a{
    color: rgb(59, 130, 246);
}

.docs a:hover{
    text-decoration: underline;
}

.docs ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: inside;
    list-style-position: outside;
}

.docs div.highlighter-rouge{
    padding: 10px 15px;
    background-color: #050822;
    color: rgb(248, 248, 248);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    overflow-x: scroll;
}

.docs div.language-ex::before{
    content: "Example";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.language-html::before{
    content: "HTML";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.language-js::before{
    content: "JS";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.language-python::before{
    content: "python";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.highlighter-rouge div pre code{
    font-size: 13px;
    color: #f4f4f5;
}

.docs div.highlighter-rouge div pre code .k{
    color: #60a5fa;
}

.docs div.highlighter-rouge div pre code .n{
    color: rgb(66, 179, 254);
}

.docs div.highlighter-rouge div pre code .nv{
    color: rgb(194, 126, 101);
}

.docs img{
    display: block;
    width: 70%;
    border-radius: 15px;
    margin: 70px auto;
}
