---
---
* {
    -webkit-tap-highlight-color: transparent;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    display: inline-block;
}

.navs-background{
    z-index: 999;
    backdrop-filter: saturate(180%) blur(20px);
}

.typography-title{
    position: relative;
    font-size: 48px;
    font-weight: 900;
    z-index: 1;
    transform: translate3d(-12px, 48px, -271px) rotateY(30deg) rotate(10deg) skewX(13deg) scale(1.6);
    color: #fff;
    display: inline-block;
    margin-bottom: 35px;
    text-align: center;
    overflow: hidden;
}

.typography-title strong{
    padding-bottom: 0 !important;
    margin-bottom: -0.18em !important;
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(315deg,#42d392 25%,#647eff);
    will-change: transform;
    padding-top: 0.5px;
    overflow: hidden;
}

.typography-subtitle{
    position: relative;
    font-size: 20px;
    font-weight: 900;
    z-index: 1;
    transform: translate3d(-12px, 48px, -271px) rotateY(30deg) rotate(10deg) skewX(13deg) scale(1.6);
    color: #ddd;
    display: inline-block;
    margin-bottom: 45px;
    text-align: center;
    overflow: hidden;
}

.docs{
    color: rgb(107, 114, 128);
    line-height: 1.7;
    letter-spacing: -0.004em;
    word-break: keep-all;
}

.docs h1{
    font-size: 32px;
    font-weight: 600;
    margin-top: 130px;
    padding-top: 40px;
    border-top: solid 1px #3c3c3c1f;
    margin-bottom: 12px;
    color: rgb(51, 65, 85);
}

.docs h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: 130px;
    padding-top: 40px;
    border-top: solid 1px #3c3c3c1f;
    margin-bottom: 10px;
    color: rgb(51, 65, 85);
}

.docs h3{
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(51, 65, 85);
}

.docs h4{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.docs h5{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.docs h6{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.docs a{
    color: rgb(59, 130, 246);
}

.docs a:hover{
    text-decoration: underline;
}

.docs ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: inside;
    list-style-position: outside;
}

.docs div.highlighter-rouge{
    padding: 10px 15px;
    background-color: #050822;
    color: rgb(248, 248, 248);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    overflow-x: scroll;
}

.docs div.language-ex::before{
    content: "Example";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.language-html::before{
    content: "HTML";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.language-js::before{
    content: "JS";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.language-python::before{
    content: "python";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs div.highlighter-rouge div pre code{
    font-size: 13px;
    color: #f4f4f5;
}

.docs div.highlighter-rouge div pre code .k{
    color: #60a5fa;
}

.docs div.highlighter-rouge div pre code .n{
    color: rgb(66, 179, 254);
}

.docs div.highlighter-rouge div pre code .nv{
    color: rgb(194, 126, 101);
}

.docs img{
    display: block;
    margin: 3rem auto;
    max-width: 100%;
    border-radius: 5px;
}
