* {
    -webkit-tap-highlight-color: transparent;
}

.docs{
    color: rgb(107 114 128);
}

.docs h1{
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.docs h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.docs h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.docs h4{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.docs h5{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.docs h6{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}
