---
layout: default
---
<div class="fixed z-50 top-0 left-0 right-0 max-w-full w-full px-5 md:px-32 border-b-2 md:border-none border-solid border-gray-200 md:drop-shadow-md bg-white flex justify-between items-center">
        <p class="text-lg font-medium text-gray-900 py-3">Minjun Lee</p>
        <div class="md:hidden">
            <a href="#">더보기</a>
        </div>
        <div class="hidden md:flex gap-5">
            <a href="./" class="text-base font-medium text-gray-400 hover:text-gray-500 py-2 md:py-3 px-3 duration-300">Home</a>
            <a href="./about" class="text-base font-medium text-gray-400 hover:text-gray-500 py-2 md:py-3 px-3 duration-300 ">About</a>
            <a href="./writing" class="text-base font-medium text-gray-500 hover:text-gray-500 py-2 md:py-3 px-3 duration-300 border-b-2 border-solid border-blue-500">Writing</a>
            <a href="./sponsor" class="text-base font-medium text-gray-400 hover:text-gray-500 py-2 md:py-3 px-3 duration-300">Sponsor</a>
        </div>
    </div>

    <div class="container mx-auto pt-28 pb-10 md:pt-40 px-8 md:px-32">
        <p class="text-3xl md:text-4xl font-bold text-gray-700 w-2/3 break-words md:w-full">"# React"태그가 지정된 글</p>    
    </div>
    <div class="container mx-auto pb-20 md:pb-40 px-8 md:px-32 grid lg:grid-cols-2 xl:grid-cols-3 gap-7 md:gap-10">

      
  {% assign tags = page.tags | default: page.title %}
  {% for post in site.tags[tags] %}
        <div class="drop-shadow-xl">
            <div class="px-5 py-9 bg-white rounded-t-xl">
                <p class="block mb-3 md:mb-5 text-xl font-medium h-20 max-h-20 text-gray-600 text-ellipsis overflow-hidden">{{ post.title }}</p>
                <p class="text-sm text-gray-400 font-medium h-24 max-h-24 text-ellipsis overflow-hidden break-all">{{ post.info }}</p>
                <div class="mt-4">
                  {% for tag in post.tags %}
                    <a href="{{ site.baseurl }}/tags/{{ tag }}" class="inline-block text-sm md:text-xs text-gray-400 hover:text-gray-500 font-medium bg-slate-100 hover:bg-slate-200 px-3 py-1 rounded-lg duration-300 mr-2">{{ tag }}</a>
                  {% endfor %}   
                </div>
            </div>
            <div class="px-5 py-4 bg-gray-100 rounded-b-xl">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-sm font-bold text-gray-500">더 읽어보기</a>
            </div>
        </div>
  {% endfor %}
    </div>
